body
  font-family "Open Sans"
  color #555

header
  padding 30px 0

  .container

    .header-content
      display flex
      align-items center
      justify-content space-between

    @media screen and (min-width: 768px)
      flex-direction row

    .header-logo
      display flex

      .logo-container
        width 70px

        .logo-museeks
          display block
          width 54px

      .titles-container
        width calc(100% - 70px)

.main-content
  margin-top: 20px;

.heart
  color #C70000

#downloads
  .download
    &.expand
      flex 1

#screenshot
  height: 100vh;

  .screenshot
    display block
    width 1000px
    max-width 100%

#links
  a
    display inline-block
    vertical-align middle
    margin-left 15px
    font-size 24px
    color #555

    &:hover
      color #555
      text-decoration none

.btn-primary
  border 0
  background-color #459CE7
  transition all .2s ease-in-out
  box-shadow none
  border-radius 2px

  &:hover,
  &:active
    background-color #459CE7
    color white

  &:focus
    background-color darken(#459CE7, 10%)
    color white

  &:focus:active
    background-color darken(#459CE7, 20%)
    color white

hr
  margin-top 8px
  margin-bottom 8px
  border-top 1px solid #DADADA

.no-margin-top
  margin-top 0

.no-margin-bottom
  margin-bottom 0

#contributors

  .contributors-list
    display flex
    justify-content flex-start

    a.contributor
      width 40px
      margin-right 10px

      img
        display block
        width 100%;
        height auto
        border-radius 50px

footer
  margin-top 30px
  text-align center

.thin
  font-weight 100

.v-align-middle
  vertical-align middle

a
  color #38A6DE

a:hover,
a:active,
a:focus
  color darken(#38A6DE, 30%)
