/*!
 * bootstrap-sharper v0.1 (http://github.com/KeitIG/bootstrap-sharper)
 * Copyright 2015 Pierre de la Martinière
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.alert,.badge,.breadcrumb,.btn,.btn-group-vertical > .btn:first-child:not(:last-child),.btn-group-vertical > .btn:last-child:not(:first-child),.btn-lg,.btn-sm,.btn-xs,.container .jumbotron,.container-fluid .jumbotron,.dropdown-menu,.form-control,.img-thumbnail,.thumbnail,.input-group-addon,.label,.list-group-item:first-child,.list-group-item:last-child,.nav-pills > li > a,.nav-tabs > li > a,.navbar,.navbar-toggle,.pager li > a,.pager li > span,.pagination,.pagination > li:first-child > a,.pagination > li:first-child > span,.pagination > li:last-child > a,.pagination > li:last-child > span,.panel-group > .panel,.panel,.panel-heading,.popover,.progress,.tooltip-inner,.well,.well-lg,.well-sm,.modal-content
    border-radius 0



body
    background-color #EEE
    color: #555

    .heart
        color #C70000

    .screenshot
        display block
        max-width 100%
        box-shadow 0 0 5px rgba(0, 0, 0, .5)

    .btn-primary
        border 0
        background-color #459CE7
        transition all .2s ease-in-out
        box-shadow none

        &:hover,
        &:active,
        &:focus
            box-shadow none
            background-color #459CE7

        &:focus:active
            box-shadow none
            background-color #2D78B9

    hr
        margin-top 8px
        margin-bottom 8px
        border-top 1px solid #DADADA

    .no-margin-top
        margin-top 0

    .no-margin-bottom
        margin-bottom 0

    #welcome
        margin-top 50px

    #downloads
        div[class^="col-"]
            margin-top 30px

    footer
        margin-top 30px
        text-align center

    .thin
        font-weight 100
