extend layout

block content
    p.coming-soon.text-center
        | coming soon, 
        a(href='https://github.com/KeitIG/Museeks' title='Museeks' target='_blank') something
        |  made with ♥ and JavaScript =)
