extend layout

block content
    
    .row#downloads
    
        .col-md-9.col-sm-8
            img(src='/images/screenshot.png' class='screenshot' alt='Museeks screenshot')
            
        .col-md-3.col-sm-4
            h3.no-margin-top Downloads
            
            p 
                | For the moment, only portable versions are available, installers may come in the future.
            
            a(href='https://github.com/KeitIG/museeks/releases/download/0.2/museeks-darwin-x64.zip' target='_blank' class='btn btn-primary btn-block') 
                i(class='fa fa-apple')
                |  v0.2 OSX
                
            hr
            
            a(href='https://github.com/KeitIG/museeks/releases/download/0.2/museeks-win32-ia32.zip' target='_blank' class='btn btn-primary btn-block') 
                i(class='fa fa-windows')
                |  v0.2 Windows 32bits
            a(href='https://github.com/KeitIG/museeks/releases/download/0.2/museeks-win32-x64.zip' target='_blank' class='btn btn-primary btn-block') 
                i(class='fa fa-windows')
                |  v0.2 Windows 64bits
                
            hr
            
            a(href='https://github.com/KeitIG/museeks/releases/download/0.2/museeks-linux-ia32.zip' target='_blank' class='btn btn-primary btn-block') 
                i(class='fa fa-linux')
                |  v0.2 Linux 32bits
            a(href='https://github.com/KeitIG/museeks/releases/download/0.2/museeks-linux-x64.zip' target='_blank' class='btn btn-primary btn-block') 
                i(class='fa fa-linux')
                |  v0.2 Linux 64bits

            hr
            
            .text-center
            
                a(href='https://github.com/KeitIG/museeks/releases' target='_blank') Changelog
                =' / '
                a(href='https://github.com/KeitIG/museeks/blob/master/ROADMAP.md' target='_blank') Roadmap
                =' / '
                a(href='https://github.com/KeitIG/museeks' target='_blank') Sources
                
            hr
            
            table.contact-links
                tbody
                    tr
                        td
                            | Twitter
                        td 
                            a(href='https://twitter.com/MuseeksPlayer' target='_blank') @MuseeksPlayer
                    tr
                        td
                            | Chatroom
                        td 
                            a(href='https://gitter.im/KeitIG/museeks' target='_blank') Gitter
