extend layout

block content
    .row
        .col-sm-12
            p.coming-soon.text-center
                | coming soon, 
                a(href='https://github.com/KeitIG/Museeks' title='Museeks' target='_blank') something
                |  made with 
                span(class='heart') ♥ 
                |  and JavaScript =)
