extend layout

block content

    .container
        .row#overview

            .col-md-9.col-sm-8
                img(src='/images/screenshot.png' class='screenshot' alt='Museeks screenshot')

            .col-md-3.col-sm-4
                h3.no-margin-top Downloads

                p
                    | For the moment, only portable versions are available, installers may come in the future.

                a(href='https://github.com/KeitIG/museeks/releases/download/0.8.1/museeks-darwin-x64.zip' target='_blank' class='btn btn-primary btn-block')
                    i(class='fa fa-apple')
                    |  v0.8.1 macOS

                hr

                a(href='https://github.com/KeitIG/museeks/releases/download/0.8.1/museeks-win32-ia32.zip' target='_blank' class='btn btn-primary btn-block')
                    i(class='fa fa-windows')
                    |  v0.8.1 Windows 32bits
                a(href='https://github.com/KeitIG/museeks/releases/download/0.8.1/museeks-win32-x64.zip' target='_blank' class='btn btn-primary btn-block')
                    i(class='fa fa-windows')
                    |  v0.8.1 Windows 64bits

                hr

                a(href='https://github.com/KeitIG/museeks/releases/download/0.8.1/museeks-linux-ia32.zip' target='_blank' class='btn btn-primary btn-block')
                    i(class='fa fa-linux')
                    |  v0.8.1 Linux 32bits
                a(href='https://github.com/KeitIG/museeks/releases/download/0.8.1/museeks-linux-x64.zip' target='_blank' class='btn btn-primary btn-block')
                    i(class='fa fa-linux')
                    |  v0.8.1 Linux 64bits

                hr

                .text-center

                    a(href='https://github.com/KeitIG/museeks/releases' target='_blank') Releases notes
                    =' / '
                    a(href='https://github.com/KeitIG/museeks' target='_blank') Sources

        .row#contributors

            .col-sm-12.text-center
                p
                    | made with
                    =' '
                    span(class='heart') ♥
                    |  by
                    =' '
                    a(href='http://pierrevanmart.com' target='_blank') @KeitIG
                    |  and a bunch of
                    =' '
                    a(href='https://github.com/KeitIG/museeks/graphs/contributors' target='_blank') great guys
                    | .
