extend layout

block content

  .container
    h1.visually-hidden
      | A simple, clean and cross-platform music player

    #screenshot.d-flex.justify-content-center.align-items-center.mb-3
      img.screenshot(src='/images/screenshot.png' alt='a screenshot of the application')

    #downloads
      h2.text-center
        | Downloads

      .text-muted.text-center.mb-5
        small
          | latest version: 0.11.1
          |  (
          a(href='https://github.com/martpie/museeks/releases/tag/0.11.1') changes
          | ) |
          =' '
          a(href='https://github.com/martpie/museeks/releases') other releases

      .row.justify-content-center.mb-3

        .col-10.col-lg-4.mb-5
          .h2.mb-3.text-center
            i(class='fa fa-apple')
          .d-flex
            a.download.expand.btn.btn-primary.btn-lg(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks.dmg')
              | macOS

        .col-10.col-lg-4.mb-5
          .h2.mb-3.text-center
            i(class='fa fa-windows')
          .d-flex
            a.download.expand.btn.btn-primary.btn-lg(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-setup.exe')
              | Windows

        .col-10.col-lg-4.mb-5
          .h2.mb-3.text-center
            i(class='fa fa-linux')
          .d-flex.mb-2
            a.download.expand.btn.btn-primary.btn-lg.mr-2(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-x86_64.AppImage')
              | AppImage 64bits
            a.download.btn.btn-light.btn-lg(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-i386.AppImage' title='AppImage 32bits')
              | 32bits

          .d-flex.mb-2
            a.download.expand.btn.btn-primary.btn-lg.mr-2(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-amd64.deb')
              | .deb 64bits
            a.download.btn.btn-light.btn-lg(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-i386.deb' title='.deb 32bits')
              | 32bits

          .d-flex.mb-2
            a.download.expand.btn.btn-primary.btn-lg.mr-2(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-x86_64.rpm')
              | .rpm 64bits
            a.download.btn.btn-light.btn-lg(href='https://github.com/martpie/museeks/releases/download/0.11.1/museeks-i686.rpm' title='.rpm 32bits')
              | 32bits

    #links.mb-5
      .text-center
        a(href='https://twitter.com/museeks' title='Keep updated !' class='fa fa-twitter')
        a(href='https://github.com/martpie/museeks' title='Bugs reports, features requests and sources' class='fa fa-github')

    #contributors.row.mb-5

      .col-sm-12.text-center
        p
          small.text-muted
            | made with
            =' '
            span(class='heart') ♥
            |  by
            =' '
            a(href='https://martpie.io' target='_blank') @martpie
            |  and
            =' '
            a(href='https://github.com/martpie/museeks/graphs/contributors' target='_blank') awesome people
            | .
