---
import Link from "../components/Link.astro";
import TranslationStatus from "../components/TranslationStatus.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Museeks - Translation Status"
  description="Progress dashboard for Museeks translations"
>
  <div class="content">
    <Link href="/">← Back to Home </Link>
    <h1 class="lead">Translation Status</h1>
    <Link
      href="https://github.com/martpie/museeks/tree/master/src/translations"
    >
      source code
    </Link>
    •
    <Link
      href="https://github.com/martpie/museeks/releases/tag/0.22.0"
      openInNewTab>translation guide</Link
    >

    <div class="insights">
      <TranslationStatus client:only />
    </div>
  </div>

  <style>
    .lead {
      font-weight: normal;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 1rem;
    }

    .insights {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
</Layout>
