.table {
  width: 100%;
  text-align: left;
}

.notVisible {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 1px;
}

.ok {
  color: green;
  font-weight: bold;
}

.notOk {
  color: red;
  font-weight: bold;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: var(--link-color-hover);
}
