:root {
  --main-color: #459ce7;
  --main-color-darker: #498ed8;

  --link-color: #459ce7;
  --link-color-hover: #52afff;

  --text-muted: #777;

  --heart: #c70000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-x: hidden; temporary */
}

* {
  box-sizing: border-box;
}
